body{
	background-color: black;
}

/*le container contient le pre modifiable par le js*/
#container{
	text-align: center;
    align-items: center
}

pre {
	display: flex;
    justify-content: center;
	vertical-align: middle;
    z-index: 100; /* deplacement au premier plan */
    color: #00ff00;
    font-family: 'Share Tech Mono', 'Cascadia Code', Menlo, Monaco, 'Courier New', monospace;
    
    /*effet de style pour avoir le degrade de vert*/
    text-shadow: 
        0 0 5px #00ff00,
        0 0 10px #00ff00;
}
