<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <title>SortPage</title>
</head>
<body>
    <nav>
        <h1>Bienvenue !   </h1>
    </nav>
    <main>
        <div class="grid-container">
            <div class="plane">
                <div class="grid"></div>
                <div class="glow"></div>
            </div>
            <div class="plane">
                <div class="grid"></div>
                <div class="glow"></div>
            </div>
        </div>

        <!--le formulaire pour recuperer les donnees dans flask-->
        <form method="POST" action="/get">
            <input type="text" name="input" value="Entrez la suite ex: 1,6,3" id="input"><br>
            
            
            <div id="sendInput">
                <p style="display: inline-block; margin-right: 10px;">insertion</p>
                <input type="checkbox" name="insertion" id="insertion">
                <p style="display: inline-block; margin-right: 10px;">selection</p>
                <input type="checkbox" name="selection" id="selection">
            </div>
            <button type="submit" value="Envoyer" id="send" class="button-9">Envoyer</button>
        </form>
        
    </main>
    <footer>
        <h4 style="color: white;">
            crédits: code principal :Besson Mathéo;
                     algorythme d'insertion <a href="https://wwwinstagram.com/valentin_senet?igsh=MWsybWtrMGZpeTI4Mw==" style="color: white;">Senet Valentin;</a>
                     algorythme de sélection Bâty Corentin
        </h4>
    </footer>
    <script>
        /*
        ici on utilise jinja qui permet à flask d'appeller du js

        */
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                console.log("Messages flash:", {{ messages | tojson }});
                {% for message in messages %}
                    setTimeout(() => alert({{ message | tojson }}), 100);
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
    
</body>
</html>
