<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sort.css') }}">
    <title>Selection Mode</title>
    
</head>
<body>
    <div id="container"><pre id="etape"></pre></div>

    <!--tout ce qui est dessous est pour l annimation des griles-->
    <div class="grid-container">
        <div class="plane">
            <div class="grid"></div>
            <div class="glow"></div>
        </div>
        <div class="plane">
            <div class="grid"></div>
            <div class="glow"></div>
        </div>
    </div>

    <!--alog de tri par selection fait par Baty Corentin-->
    <script>
        document.addEventListener("DOMContentLoaded", function () { //attente du chargement de la page
            var etape = document.getElementById("etape"); //recuperation de la zone de texte
            const params = new URLSearchParams(window.location.search);//parametres du formulaire
            const listeJSON = params.get("valeur");//liste final encode en json

            console.log("Valeur brute de listeJSON:", listeJSON);  // Debugging

            try {
                const liste = JSON.parse(decodeURIComponent(listeJSON));//tentative de parsing
                console.log("Liste après parsing:", liste);

                if (!Array.isArray(liste)) {
                    throw new Error("La valeur décodée n'est pas un tableau.");//creation d une erreur
                }
                
                selectionMode(liste);
            } catch (e) {
                console.error("Erreur de parsing JSON:", e);
            }

            function selectionMode(numberList) {
                etape.textContent += "Début du tri\n";

                let n = numberList.length;
                for (let i = 0; i < n - 1; i++) {
                    let min = i;
                    
                    for (let j = i + 1; j < n; j++) {
                        if (numberList[j] < numberList[min]) {
                            min = j;
                        }
                    }
                    
                    if (min !== i) {
                        [numberList[i], numberList[min]] = [numberList[min], numberList[i]];
                    }

                    etape.textContent += `Étape ${i + 1}: ${numberList.join(", ")}\n`;
                }

                etape.textContent += "Tri terminé\n";
            }
        });


    </script>
    
    
    
</body>
</html>