<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <style>
        pre {
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <nav>
        <h1>Bienvenue !</h1>
    </nav>
    <main>
        <form method="POST" action="/recuperer">
            <input type="input" name="input" value="ecris le texte" id="input"><br>
            <input type="submit" value="Envoyer" id="send"><br>
            <p style="display: inline-block; margin-right: 10px;">insertion</p>
            <input type="checkbox" name="insertion" id="insertion"><br>
            <p style="display: inline-block; margin-right: 10px;">selection</p>
            <input type="checkbox" name="selection" id="selection">
        </form>
        

        <pre id="etape"></pre>
    </main>
    <footer>
    </footer>
</body>
</html>
