<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Bienvenue !</h1>
    </nav>
    <main>
        <input type="text" value="ecris le texte" id="input"><br>
        <p style="display: inline-block; margin-right: 10px;">insertion</p>
        <input type="checkbox" name="insertion" id="insertion"><br>
        <p style="display: inline-block; margin-right: 10px;">selection</p>
        <input type="checkbox" name="selection" id="selection">

        <input type="button" value="send" id="send">
    </main>
    <footer>

    </footer>
</body>
</html>
